# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives

1. Practise use of Markdown 
2. Practise use of comments 
3. Creation of tables 
4. practise use of arithmetic expressions

### Some of the popular languages the Data Scientist uses are:

+ Python
+ R
+ Java scritpt
+ Jave
+ C++
+ C
+ Julia 
+ Apache MLib

### Some commonly used libraries by Data Scientist are:

* numpy 
* pandas 
* matplotlib

|Data Science Tools|
|------------------|
|Apache MLlib|
|API|
|CLI|
|OSI|

### Below are few examples evaluating arithmetic expression in python 

- a + b
- a - b
- a * b
- a ^ b

In [2]:
# This is a simple arithmetic to multiply

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60

200 * 1/60

3.3333333333333335

## Author 

Ahmad Idris